/*
/*/
!.gitignore
!configuration.yaml
!docker-compose.yml
!packages/
packages/**/*_secret.yaml
**/__pycache__/
!/appdaemon/
/appdaemon/*
!/appdaemon/apps
*.json
*.hidden.*
!python_scripts

!/lovelace/
